joblib==1.4.2
numpy==1.26.4
pandas==1.4.0
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==1.2.2
scipy==1.13.0
six==1.16.0
threadpoolctl==3.5.0
matplotlib
ucimlrepo
tqdm
shap==0.45.1
xgboost== 2.0.3
